@import "tailwindcss";
@import "@nuxt/ui";
.dark {
  --ui-bg: #121212;
}
@font-face {
  font-family: "Hind Siliguri";
  src: url("/fonts/HindSiliguri-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hind Siliguri";
  src: url("/fonts/HindSiliguri-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hind Siliguri";
  src: url("/fonts/HindSiliguri-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hind Siliguri";
  src: url("/fonts/HindSiliguri-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hind Siliguri";
  src: url("/fonts/HindSiliguri-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Hind Siliguri", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.stat-card:hover {
  @apply bg-rose-50 dark:bg-rose-900 shadow-lg transform -translate-y-1 transition-all duration-300;
}